{
  "presets": [[
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ], "@babel/preset-react"],
  "env": {
    "test": {
      "presets": ["node5"]
    }
  },
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
		"babel-plugin-styled-components"
  ]
}